*{
    font-family: 'Roboto', sans-serif;
}
#secret{
    text-align: center;
}
#reset{
    display: inline-block;
    height: 300px;
}

.chess{
    background-color: aqua;
}
.school{
    background-color: palevioletred;
}
.space{
    background-color: black;
    color: whitesmoke;
}
.wonder{
    background-color: aquamarine;
}
.imagine{
    height: 300px;
}

h1{
    color: blue;
    text-align: center;
}
h2{
    color: blue;
    text-align: center;
}
h3{
    text-align: center;
}
.option{
    display: inline-block;
}