*{
    font-family: 'Roboto', sans-serif;
}
h1{
    color: blue;
    text-align: center;
}
h3{
    text-align: center;
}

#chess{
    display: inline-block;
}
#school{
    display: inline-block;
}

#chessboard{
    height: 300px;
}

#schoolhouse{
    height: 300px;
}