*{
    font-family: 'Roboto', sans-serif;
}
body, html{
    margin:0;
    padding:0;
}
body{
    height: 100%;
    width: 100%;
}
#rapper{
    height: 100vh;
    width: 100%;
    margin: 0 auto;
}
#banner{
    background-color: gold;
}
a{
    text-decoration: none;
}
a:hover{
    color: whitesmoke;
}
.resize{
    height: 13vw;
}
#secret{
    text-align: center;
}
#reset{
    display: inline-block;
    height: 300px;
}
#chesslink{
    font-size: 3vh;
}
.chess{
    background-color: aqua;
}
.school{
    background-color: palevioletred;
}
.space{
    background-color: black;
    color: whitesmoke;
}
.music{
    background-color: peachpuff;
}
.wonder{
    background-color: aquamarine;
}
.imagine{
    height: 300px;
}

h1{
    text-align: center;
    color: blueviolet;
}
h2{
    color: blueviolet;
    text-align: center;
}
h3{
    text-align: center;
    color: blueviolet;
}
.option{
    display: inline-block;
}